{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">


    <body>

    {% block content %}
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
<!--                        <a href="index.html" class="logo">Blog<em> Website</em></a>-->
                        <a href="{% url 'home' %}" class="logo">Blog<em> Website</em></a>

                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
<!--                        <ul class="nav">-->
<!--                            <li><a href="index.html">Home</a></li>-->
<!--                            <li><a href="blog.html" class="active">Blog</a></li>-->
<!--                            <li><a href="about.html">About us</a></li>-->
<!--                            <li><a href="team.html">Authors</a></li>-->
<!--                            <li><a href="addblog.html">Contact</a></li> -->
<!--                        </ul>         -->

                         <ul class="nav">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'blog_details' %}" class="active">Blog</a></li>
                            <li><a href="{% url 'about' %}">About us</a></li>
                             <li><a href="#">{{ user_name }}</a></li>
                            <li><a href="{% url 'logout' %}">logout</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <section class="section section-bg" id="call-to-action" >
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Read our <em>Blog</em></h2>
                        <p>Ut consectetur, metus sit amet aliquet placerat, enim est ultricies ligula</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Blog Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <br>
            <br>
            <div class="row">
                  {% for blog in blog_data %}
                        <div class="col-md-3">
                            <section class='tabs-content'>
                                    <article>
                                        <img src ="{% static '' %}media/{{ blog.images_upload }}" alt="">     <!-- here is declaration of dynamic image upload in  -->
                                        <h4>{{ blog.blog_dis }}</h4>
                                        <p><i class="fa fa-user"></i> {{ user.username }} &nbsp;|&nbsp; <i class="fa fa-calendar"></i>{{ blog.date_detail }} </i> </p>
                                        <p> {{ blog.blog_dis }}</p>
                                        <div class="main-button">
                                        </div>
                                     </article>
                                     <br>
                            </section>
                        </div>
                {% endfor %}

                <div class="col-lg-2"><a  href="{% url 'blog_add' %}" class="btn btn-success btn-lg float-right" type="submit" >ADD Blog</a></div>
    </section>
    <!-- ***** Blog End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2020 Company Name
                        - Template by: <a href="https://www.msbcgroup.com/">msbcgroup.com</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
<!--    <script src="assets/js/jquery-2.1.0.min.js"></script>-->
   <script src="{% static 'js/jquery-2.1.0.min1.js' %}"></script>

    <!-- Bootstrap -->
<!--    <script src="assets/js/popper1.js"></script>-->
<!--    <script src="assets/js/bootstrap.min.js"></script>-->

    <script src="{% static 'js/popper1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min1.js' %}"></script>



    <!-- Plugins -->
<!--    <script src="assets/js/scrollreveal.min.js"></script>-->
<!--    <script src="assets/js/waypoints.min.js"></script>-->
<!--    <script src="assets/js/jquery.counterup.min.js"></script>-->
<!--    <script src="assets/js/imgfix.min.js"></script> -->
<!--    <script src="assets/js/mixitup.js"></script> -->
<!--    <script src="assets/js/accordions.js"></script>-->

    <script src="{% static 'js/scrollreveal.min1.js' %}"></script>
    <script src="{% static 'js/waypoints.min1.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min1.js' %}"></script>
    <script src="{% static 'js/imgfix.min1.js' %}"></script>
    <script src="{% static 'js/mixitup1.js' %}"></script>
    <script src="{% static 'js/accordions1.js' %}"></script>
    
    <!-- Global Init -->
<!--    <script src="assets/js/custom.js"></script>-->
     <script src="{% static 'js/custom1.js' %}"></script>
     {% endblock %}
  </body>
</html>