{% load static %}
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>PHPJabbers.com | Free Blog Website Template</title>

       <link rel="stylesheet" type="text/css" href="{% static  'css/bootstrap.min1.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static  'css/font-awesome1.css' %}">

       <link rel="stylesheet" href="{% static  'css/style1.css' %}">

    </head>

</html>