{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

    <body>
    {% block content %}

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
<!--                        <a href="homepage.html" class="logo">Blog<em> Website</em></a>-->
                        <a href="#" class="logo">Blog<em> Website</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                        {% if check_eligibility == True %}
                            <li><a href="{% url 'home' %}" class="active">Home</a></li>
                            <li><a href="{% url 'blog_details' %}">Blog</a></li>
                            <li><a href="{% url 'about' %}"> About us</a></li>
                            <li><a href="#">{{ user_name }}</a></li>
                            <li><a href="{% url 'logout' %}">logout</a></li>
                        {% endif %}


                        {% if check_eligibility == False %}
                            <li><a href="{% url 'home' %}" class="active">Home</a></li>
<!--                            <li><a href="{% url 'blog_details' %}">Blog</a></li>-->
                                <li><a href="{% url 'about' %}"> About us</a></li>
                            <li><a href="{% url 'login' %}">login</a></li>
                            <li><a href="{% url 'register' %}">register</a></li>
                        {% endif %}




<!--                            <li><a href="homepage.html" class="active">Home</a></li>-->
<!--                            <li><a href="blog.html">Blog</a></li>-->
<!--                            <li><a href="about.html">About us</a></li>-->
<!--                            <li><a href="team.html">Authors</a></li>-->
<!--                            <li><a href="addblog.html">Contact</a></li>-->
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
<!--            <source src="assets/images/video.mp4" type="video/mp4" />-->

            <source src="{% static 'image/video.mp4' %}" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>Lorem ipsum dolor sit amet</h6>
                <h2><em>Blog</em> mollia amenda</h2>
                <div class="main-button">
<!--                    <a href="addblog.html">Contact Us</a>-->
                     <a href="#">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Blog Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Featured <em>Blog posts</em></h2>
<!--                        <img src="assets/images/line-dec.png" alt="">-->
                        <img src="{% static 'image/line-dec.png' %}" alt="">

                        <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed viverra ipsum dolor, ultricies fermentum massa consequat eu.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for blog in all_blog %}
                  <div class="col-md-3">
                    <section class='tabs-content'>

                              <article id='tabs-1'>
                                  <img src ="{% static '' %}media/{{ blog.images_upload }}" alt="">
                                  <h4>{{ blog.blog_dis }}</h4>
                                  <p><i class="fa fa-user"></i> {{ blog.user_id.username }} &nbsp;|&nbsp; <i class="fa fa-calendar"></i> {{ blog.date_detail }}</p>
                              </article>
                    </section>
                  </div>
                {% endfor %}
            </div>

            </div>
        </div>
    </section>
    <!-- ***** Blog End ***** -->

    <section class="section section-bg" id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading dark-bg">
                        <h2>Read <em>About Us</em></h2>
<!--                        <img src="assets/images/line-dec.png" alt="">-->
                        <img src="{% static 'image/line-dec.png' %}" alt="">
                        <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed viverra ipsum dolor, ultricies fermentum massa consequat eu.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-content text-center">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore deleniti voluptas enim! Provident consectetur id earum ducimus facilis, aspernatur hic, alias, harum rerum velit voluptas, voluptate enim! Eos, sunt, quidem.</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nulla quo cum officia laboriosam. Amet tempore, aliquid quia eius commodi, doloremque omnis delectus laudantium dolor reiciendis non nulla! Doloremque maxime quo eum in culpa mollitia similique eius doloribus voluptatem facilis! Voluptatibus, eligendi, illum. Distinctio, non!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2020 Company Name
                        - Template by: <a href="https://www.msbcgroup.com/">Msbcgroup.com</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
<!--    <script src="assets/js/jquery-2.1.0.min.js"></script>-->
     <script src="{% static 'js/jquery-2.1.0.min1.js' %}"></script>

    <!-- Bootstrap -->
<!--    <script src="assets/js/popper.js"></script>-->
<!--    <script src="assets/js/bootstrap.min.js"></script>-->
     <script src="{% static 'js/popper1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min1.js' %}"></script>

    <!-- Plugins -->
<!--    <script src="assets/js/scrollreveal.min.js"></script>-->
<!--    <script src="assets/js/waypoints.min.js"></script>-->
<!--    <script src="assets/js/jquery.counterup.min.js"></script>-->
<!--    <script src="assets/js/imgfix.min.js"></script> -->
<!--    <script src="assets/js/mixitup.js"></script> -->
<!--    <script src="assets/js/accordions.js"></script>-->

    <script src="{% static 'js/scrollreveal.min1.js' %}"></script>
    <script src="{% static 'js/waypoints.min1.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min1.js' %}"></script>
    <script src="{% static 'js/imgfix.min1.js' %}"></script>
    <script src="{% static 'js/mixitup1.js' %}"></script>
    <script src="{% static 'js/accordions1.js' %}"></script>



    <!-- Global Init -->
<!--    <script src="assets/js/custom.js"></script>-->
    <script src="{% static 'js/custom1.js' %}"></script>

    {% endblock %}
  </body>
</html>
